[submodule "range/finders"]
	path = range/finders
	url = https://github.com/maormizrachi/range_finders.git
[submodule "regression_tests/THUNDER"]
	path = regression_tests/THUNDER
	url = git@github.com:maormizrachi/THUNDER.git
	branch = main
